<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cocktail List</h1>

    <ul>
        <li>Mojito</li>
        <li>Pina Colada</li>
        <li>Daiquiri</li>
        <li>Woodford Old Fashioned</li>
        <li>Mai Tai</li>
        <li>Perfect Margarita</li>
    </ul>

    <!-- Ovde možete prikazati listu koktela i njihovih recepata -->

</body>
</html>
