<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Dodajte Bootstrap CSS link ovde -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Dodajte stil za pozadinsku sliku -->
    <style>
        body {
            background-image: url("{{ url_for('static', filename='background.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        /* Centriranje sadržaja */
        .container {
            text-align: center;
            margin-top: 10%;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Pretražite koktele po sastojcima</h1>
        <form method="POST" action="/search">
            <input type="text" name="ingredient" placeholder="Unesite sastojak">
            <button type="submit" class="btn btn-primary">Pretraži</button>
        </form>
    </div>

    <!-- Dodajte Bootstrap JavaScript i jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
